@use "../colors";
@use "../mixins";

.listOptionMenu {
    @include mixins.flexContainer();
    flex-direction: column;
    top: 100%;
    left: -5%;
    box-shadow: 2px 2px 6px 0px rgba($color: colors.$black, $alpha: 0.2);
    background-color: colors.$white;
    position: absolute;
    width: 200px;
}

.title {
    color: colors.$black-200;
    font-weight: 600;
    font-size: 0.9rem;
    padding-block: 0.7rem;
    border-bottom: 1px solid colors.$gray-600;
    width: 200px;
    text-align: center;
}

.info {
    font-size: 0.9rem;
    color: colors.$black-200;
}

.listFlex {
    @include mixins.flexContainer(flex-start);
    width: 100%;
    padding: 0.4rem;
    margin-block: 0.4rem;

    &:hover {
        background-color: colors.$gray-600;
        cursor: pointer;
    }
}

.mdl2-printer {
    @include mixins.icons(colors.$gray-200);
    @include mixins.flexContainer();
    width: 24px;
    height: 24px;
    margin-right: 0.75rem;

    &::before {
        content: "\e749";
    }
}
