@use "../colors";
@use "../mixins";

.container {
    @include mixins.flexContainer(center, flex-start);
    flex-direction: column;
    gap: 1rem;
    margin-top: 0.85rem;
}

.flex {
    @include mixins.flexContainer();

    p {
        font-size: 0.85rem;
    }
}

.wideFlex {
    @include mixins.flexContainer(space-between);
    width: 100%;

    h4 {
        font-size: 1.2rem;
        font-weight: 600;
        color: colors.$black-100;
        cursor: default;
    }
}

.btn {
    margin-right: 0.8rem;
    background-color: colors.$blue-400;
    color: colors.$white;
    border: none;
    font-weight: 600;
    border-radius: 2px;
    padding: 0.5rem 0.65rem;

    &:hover {
        cursor: pointer;
        background-color: colors.$blue-600;
    }
}

.btnLink {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: colors.$blue-400;
}

.mdl2-cancel {
    @include mixins.icons(colors.$black-100);
    padding: 0.75rem;

    &::before {
        content: "\e711";
    }

    &:hover {
        cursor: pointer;
        background-color: colors.$gray-350;
    }

    &:active {
        box-shadow: 0px 0px 0px 2px colors.$black;
        border-radius: 2px;
    }
}
