/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'); */
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"); */
/* @import url("//db.onlinewebfonts.com/c/4f1c0acc06ffec914158fe07e208b731?family=Segoe+MDL2+Assets"); */

@font-face {
    font-family: "Segoe MDL2 Assets";
    src: url("//db.onlinewebfonts.com/t/4f1c0acc06ffec914158fe07e208b731.eot");
    src: url("//db.onlinewebfonts.com/t/4f1c0acc06ffec914158fe07e208b731.eot?#iefix")
            format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/4f1c0acc06ffec914158fe07e208b731.woff2")
            format("woff2"),
        url("//db.onlinewebfonts.com/t/4f1c0acc06ffec914158fe07e208b731.woff")
            format("woff"),
        url("//db.onlinewebfonts.com/t/4f1c0acc06ffec914158fe07e208b731.ttf")
            format("truetype"),
        url("//db.onlinewebfonts.com/t/4f1c0acc06ffec914158fe07e208b731.svg#Segoe MDL2 Assets")
            format("svg");
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Segoe UI Webfont", "Helvetica Neue", "Lucida Grande", "Roboto",
        "Ebrima", "Nirmala UI", "Gadugi", "Segoe Xbox Symbol", "Segoe UI Symbol",
        "Meiryo UI", "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota",
        "Latha", "Leelawadee", "Microsoft YaHei UI", "Microsoft JhengHei UI",
        "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya",
        "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le",
        "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text",
        "Cambria Math";
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img,
picture {
    max-width: 100%;
    display: block;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

::-webkit-scrollbar {
    width: 19px;
}

::-webkit-scrollbar-track {
    margin-top: 1.5rem;
    margin-bottom: 5rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    border: 6px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 60%);
}
