.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 1.375rem;
}

.flex {
    display: flex;
    align-items: center;
}

.flex p {
    font-size: 0.85rem;
}

.wideFlex h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: hsl(30, 3%, 14%);
    cursor: default;
}

.wideFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.btn {
    margin-right: 0.8rem;
    background-color: hsl(232, 97%, 63%);
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 2px;
    padding: 0.5rem 0.65rem;
}

.btnLink {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: hsl(232, 97%, 63%);
}

.btn:hover {
    cursor: pointer;
    background-color: hsl(231, 73%, 54%);
}

.mdl2-cancel {
    font-family: "Segoe MDL2 Assets";
    font-size: 16px;
    color: hsl(30, 3%, 14%);
    cursor: pointer;
}

.mdl2-cancel::before {
    content: "\e711";
}
