@font-face {
    font-family: "Segoe UI Webfont";
    font-weight: 300;
    src: local("Segoe UI Semilight");
}
@font-face {
    font-family: "Segoe UI Webfont";
    font-weight: 400;
    src: local("Segoe UI");
}

@font-face {
    font-family: "Segoe UI Webfont";
    font-weight: 600;
    src: local("Segoe UI Semibold");
}
@font-face {
    font-family: "Segoe UI Webfont";
    font-weight: 700;
    src: local("Segoe UI Bold");
}

.navbar {
    background-color: hsl(207, 100%, 42%);
    display: grid;
    grid-template-columns: 48px 1fr 48px;
    height: 48px;
}

.appLauncher {
    line-height: 10px;
}

.appLauncher:active,
.navbarButtons button:active,
.circleCenter:active {
    box-shadow: inset 0px 0px 0px 1px hsl(0, 0%, 100%);
    background-color: hsl(206, 100%, 25%);
}

.title {
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 600;
    margin-left: 0.6rem;
    cursor: pointer;
    line-height: 6px;
}

.middle {
    display: grid;
    grid-template-columns: 80px 1fr auto;
    align-items: center;
    overflow: hidden;
}

.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.searchField {
    height: 32px;
    display: none;
}

.show input {
    display: inline;
    width: 90%;
    background-color: hsl(210, 76%, 87%);
    outline: none;
    border: none;
    padding-left: 0.2rem;
}

.show > * {
    background-color: hsl(229, 100%, 98%) !important;
}

.show:hover > * {
    background-color: hsl(229, 100%, 98%);
    outline: 1px solid hsl(229, 100%, 98%);
}

.show .searchButton:hover {
    background-color: white !important;
}

.searchButton {
    width: 32px;
    height: 32px;
    background-color: hsl(210, 76%, 87%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 2px;
}

.tooltipText {
    visibility: hidden;
    width: 60px;
    font-weight: 400;
    font-size: 0.75rem;
    background-color: white !important;
    color: black;
    text-align: center;
    border-radius: 0.1rem;
    padding: 8px 0;
    position: absolute;
    z-index: 1000;
    left: 57px;
    transition: none;
    outline: none !important;
}

.tooltipText::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent white;
}

.flex:hover .tooltipText {
    visibility: visible;
    transition: visibility 0.3s ease-in-out 0.4s;
}

.searchButton:hover {
    cursor: pointer;
    background-color: white;
    outline: 1px solid white;
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    background-color: hsl(210, 76%, 87%);
    border-radius: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-right: 0.3rem;
}

.close:hover {
    cursor: pointer;
}

.radius {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Dont touch */
.searchButton img {
    transform: rotateY(180deg);
}

.navbar button {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
}

.navbar button:hover {
    background-color: hsl(206, 100%, 31%);
    cursor: pointer;
}

.circle {
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circleCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active > * {
    background-color: hsl(30, 17%, 94%);
    color: hsl(0, 0%, 0%) !important;
    height: 48px;
}

.active:hover > * {
    color: hsl(0, 0%, 100%) !important;
    background-color: hsl(206, 100%, 25%);
}

.mdl2-settings,
.mdl2-help,
.mdl2-megaphone {
    font-family: "Segoe MDL2 Assets";
    font-size: 16px;
    color: white;
    line-height: 48px;
}

.mdl2-settings::before {
    content: "\e713";
}

.mdl2-help::before {
    content: "\e897";
}

.mdl2-megaphone::before {
    content: "\e789";
}

@media screen and (max-width: 420px) {
    .navbar {
        grid-template-columns: 35px 1fr 48px;
    }

    .title {
        margin-left: 0.5rem;
    }

    .tooltipText {
        left: 11.5%;
    }

    .navbar .appLauncher {
        width: 35px;
    }

    .show input {
        width: 70%;
    }
}

@media screen and (min-width: 768px) {
    .middle,
    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .flex {
        width: 400px;
        margin-left: 0.9rem;
    }

    .tooltipText {
        left: -17.5%;
    }

    .searchButton {
        position: unset;
        border-radius: 0;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }

    .searchField {
        display: inline;
        width: 95%;
        background-color: hsl(210, 76%, 87%);
        outline: none;
        border: none;
        padding-left: 0.4rem;
        border-radius: 0;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .focused {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .changeBg > * {
        background-color: hsl(229, 100%, 98%) !important;
    }

    .changeBg:hover > * {
        background-color: hsl(229, 100%, 98%);
        outline: 1px solid hsl(229, 100%, 98%);
    }

    .changeBg .searchButton:hover {
        background-color: white !important;
    }

    .close {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .flex:hover > * {
        cursor: pointer;
        background-color: white;
        outline: 1px solid white;
    }
}
