.container {
    float: right;
    width: 320px;
    height: 180px;
    box-shadow: -1px 5px 50px -10px hsl(0, 0%, 70%);
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signOut {
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 0.8rem;
    padding: 1rem 0.75rem;
    color: hsl(0, 0%, 20%);
}

.signOut:hover {
    background-color: hsl(0, 0%, 92%);
    cursor: pointer;
}

.circle {
    border-radius: 50%;
    border: 1px solid hsl(0, 0%, 70%);
    display: inline-block;
    padding: 2rem 2.5rem;
}

.name {
    font-weight: 700;
    font-size: 1.2rem;
}

.mail {
    font-size: 0.875rem;
    color: hsl(0, 0%, 20%);
    font-weight: 600;
}

.profileBtn {
    border: none;
    background-color: transparent;
    color: hsl(206, 100%, 42%);
    font-weight: 600;
    font-size: 0.85rem;
}

.profileBtn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}
