@use "./colors";
@use "./mixins";

.container {
    @include mixins.flexContainer(flex-start, flex-start);
    flex-direction: column;
    padding-top: 1.325rem;
}

.topFlex {
    @include mixins.flexContainer();
    padding-left: 1.6rem;
}

.mdl2-dots {
    @include mixins.icons(colors.$black-200);
    @include mixins.flexContainer();
    width: 32px;
    height: 32px;
    margin-left: 0.625rem;

    &::before {
        content: "\e712";
    }

    &:hover {
        background-color: colors.$gray-400;
        cursor: pointer;
    }
}
