.container {
    margin-top: 1.25rem;
    cursor: default;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex h4 {
    font-size: 1.25rem;
    font-weight: 600;
}

.section {
    margin-top: 1.75rem;
    margin-bottom: 1.5rem;
    color: hsl(220, 8%, 22%);
    font-size: 1.125rem;
    font-weight: 600;
}

.mdl2-cancel {
    font-family: "Segoe MDL2 Assets";
    font-size: 16px;
    color: hsl(30, 3%, 14%);
    cursor: pointer;
}

.mdl2-cancel::before {
    content: "\e711";
}

.footer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.btn {
    background-color: transparent;
    border: none;
    color: hsl(232, 97%, 63%);
}

.btn:hover {
    cursor: pointer;
}

.block {
    display: block;
    width: fit-content;
    color: hsl(0, 0%, 20%);
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 0.35rem;
}

.align {
    margin-bottom: 1.175rem;
}

.check {
    opacity: 0;
    position: absolute;
    left: -101vw;
}

.check + label {
    font-size: 0.9rem;
}

.check:hover + label::before,
.check:hover + label::after {
    cursor: pointer;
}

.align:hover > label::before {
    border-color: hsl(0, 0%, 15%);
}

.align:hover > label::after {
    background-color: hsl(0, 0%, 15%);
}

.check + label {
    display: flex;
    align-items: center;
    position: relative;
}

.check + label::before {
    content: "";
    width: 2.5rem;
    height: 1.25rem;
    border-radius: 0.75rem;
    background-color: white;
    border: 1px solid gray;
    margin-right: 0.5rem;
}

.check + label::after {
    position: absolute;
    content: "";
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: hsl(0, 0%, 60%);
    margin-left: 0.2rem;
}

.check:checked + label::after {
    left: 1.325rem;
    background-color: white;
}

.check:checked + label::before {
    background-color: hsl(232, 97%, 63%);
    border-color: hsl(232, 97%, 63%);
}
