.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.25rem;
}

.container {
    background-color: white;
    margin-bottom: 1.25rem;
    border-radius: 5px;
    box-shadow: 1px 1px 13px 0px hsl(240, 1%, 95%);
}

.container img {
    border-top-left-radius: 5px;
}

.info {
    color: hsl(30, 3%, 14%);
    font-size: 0.9rem;
    font-weight: 600;
    padding-block: 0.8rem;
}

.btn {
    margin-block: 1rem;
    background-color: white;
    border: none;
    color: hsl(221, 85%, 57%);
    font-size: 0.85rem;
}

.btn:hover {
    cursor: pointer;
}

.message {
    color: hsl(240, 1%, 47%);
    font-size: 0.85rem;
}

.grid {
    display: grid;
    grid-template-columns: 16px 1fr;
    align-items: flex-start;
    gap: 1rem;
    margin-inline: 1rem;
}

.smallIcons {
    padding-top: 0.8rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid hsl(240, 1%, 87%);
    border-bottom: 0;
    padding: 0.5rem 0.75rem;
}

.flex p {
    font-size: 0.85rem;
}

.footerIcons {
    display: flex;
    gap: 0.3rem;
    cursor: pointer;
}

.title {
    font-size: 1.25rem;
    font-weight: 600;
    color: hsl(30, 3%, 14%);
}

.mdl2-cancel,
.mdl2-brightness {
    font-family: "Segoe MDL2 Assets";
    font-size: 16px;
    color: hsl(30, 3%, 14%);
    cursor: pointer;
}

.mdl2-cancel::before {
    content: "\e711";
}

.mdl2-brightness::before {
    content: "\e706";
}
