@use "../colors";
@use "../mixins";

.container {
    margin-top: 1.4rem;

    & > * {
        color: colors.$black-200;
    }
}

.flex {
    margin-top: 1.375rem;

    & > div {
        @include mixins.flexContainer(flex-start);
        padding: 0.375rem 0;
        padding-left: 0.8rem;

        &:hover {
            background-color: colors.$white-500;
            cursor: pointer;
        }
    }

    div > p {
        margin-left: 0.5rem;
        line-height: 14px;
        font-size: 0.875rem;
    }
}

.footer {
    @include mixins.flexContainer();
    margin-top: auto;

    & > span {
        &:hover {
            background-color: colors.$white-500;
            cursor: pointer;
        }
    }
}

.mdl2-navbar {
    @include mixins.icons(colors.$black-100);
    padding: 0.4rem;
    margin-left: 0.75rem;

    &::before {
        content: "\e700";
    }

    &:hover {
        cursor: pointer;
        background-color: colors.$white-500;
    }
}

.mdl2-calendar {
    @include mixins.icons(colors.$gray-50);
    @include mixins.flexContainer();
    width: 24px;
    height: 24px;

    &::before {
        content: "\e787";
    }
}

.mdl2-favorite {
    @include mixins.icons(colors.$gray-50);
    @include mixins.flexContainer();
    width: 24px;
    height: 24px;

    &::before {
        content: "\e734";
    }
}

.mdl2-brightness {
    @include mixins.icons(colors.$gray-50);
    @include mixins.flexContainer();
    width: 24px;
    height: 24px;

    &::before {
        content: "\e706";
    }
}

.mdl2-contact {
    @include mixins.icons(colors.$gray-50);
    @include mixins.flexContainer();
    width: 24px;
    height: 24px;

    &::before {
        content: "\e77B";
    }
}

.mdl2-home {
    @include mixins.icons(colors.$gray-50);
    @include mixins.flexContainer();
    width: 24px;
    height: 24px;

    &::before {
        content: "\e80F";
    }
}

.mdl2-mail {
    @include mixins.icons(colors.$gray-50);
    @include mixins.flexContainer();
    width: 58px;
    height: 48px;

    &::before {
        content: "\e715";
    }
}

.mdl2-people {
    @include mixins.icons(colors.$gray-50);
    @include mixins.flexContainer();
    width: 58px;
    height: 48px;

    &::before {
        content: "\e716";
    }
}

.mdl2-attach {
    @include mixins.icons(colors.$gray-50);
    @include mixins.flexContainer();
    width: 58px;
    height: 48px;

    &::before {
        content: "\e723";
    }
}

.mdl2-todo {
    @include mixins.icons(colors.$gray-50);
    @include mixins.flexContainer();
    width: 58px;
    height: 48px;

    &::before {
        content: "\e840";
    }
}

.mdl2-calendar-bottom {
    @include mixins.icons(colors.$gray-50);
    @include mixins.flexContainer();
    width: 58px;
    height: 48px;

    &::before {
        content: "\e787";
    }
}

.mdl2-add {
    @include mixins.icons(colors.$blue-400);
    @include mixins.flexContainer();
    width: 24px;
    height: 24px;

    &::before {
        content: "\e710";
    }

    &:hover {
        cursor: pointer;
    }
}

.mdl2-bulletList {
    @include mixins.icons(colors.$blue-400);
    @include mixins.flexContainer();
    width: 24px;
    height: 24px;

    &::before {
        content: "\e71d";
    }
}

.activeMyday,
.activeImportant,
.activePlanned,
.activeAll,
.activeCompleted,
.activeAssigned,
.activeTasks {
    background-color: colors.$gray-400;
    &:hover {
        background-color: colors.$gray-400 !important;
    }

    & > p {
        font-weight: 600;
    }
}

.activeImportant,
.activePlanned,
.activeTasks {
    & > p {
        color: colors.$blue-600;
    }
}

.activeAll,
.activeCompleted {
    & > p {
        color: colors.$red-200;
    }
}

.activeAssigned {
    & > p {
        color: colors.$green-200;
    }
}

.addList {
    @include mixins.flexContainer(space-between, flex-start);
    margin-top: 1.2rem;
    flex-direction: column;
}

.outer {
    width: 100%;
    @include mixins.flexContainer();
}

.shrink {
    width: 85%;
}

.flexCenter {
    @include mixins.flexContainer(flex-start);
    padding: 0.375rem 0;
    width: 100%;
    padding-left: 0.75rem;

    &:hover {
        background-color: colors.$white-500;
    }
}

.input {
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 0.625rem;

    &::placeholder {
        color: colors.$blue-400;
        font-size: 0.87rem;
    }

    &:focus::placeholder {
        color: colors.$gray-200;
    }
}

.group {
    @include mixins.flexContainer();
    width: 20%;
    padding: 0.375rem 0;

    &:hover {
        background-color: colors.$white-500;
        cursor: pointer;
    }
}

.lists {
    padding-left: 0.5rem;
    font-size: 0.9rem;
}

.toggle {
    float: left;
    margin-top: 1.25rem;
}

@media screen and (max-width: 1024px) {
    .mdl2-calendar-bottom,
    .mdl2-todo,
    .mdl2-attach,
    .mdl2-people,
    .mdl2-mail {
        width: 40px;
        height: 48px;
    }

    .shrink {
        width: 80%;
    }

    .group {
        width: 20%;
    }
}
